@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

/* button {
  cursor: pointer;
  padding: 6px 15px;
  outline: none;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  border: 1px solid #e8e8e870;
}

button:hover {
  color: white;
  background: linear-gradient(to right, purple, blue);
}

button:focus {
  color: white;
  background: linear-gradient(to right, purple, orange);
} */
