@tailwind base;
@tailwind components;

.trigger-btn {
  @apply flex flex-col justify-center items-center gap-4 p-4 py-6 rounded-3xl shadow-shavy border border-around-60 focus:outline-none focus:shadow-down;
}

.trigger-dark {
  @apply dark:bg-gradient-to-r dark:from-blue-800 dark:to-slate-800 dark:border-none;
}

/* .flexible-grid {
  dispaly: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */

@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}
